<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tgColor</key>
	<string>3,30,60</string>
	<key>ggColor</key>
	<string>0,103,0</string>
	<key>mgColor</key>
	<string>255,155,255</string>
	<key>ygColor</key>
	<string>3,30,60</string>
	<key>mrColor</key>
	<string>255,255,255</string>
	<key>bgColor</key>
	<string>4,43,85</string>
	<key>rgColor</key>
	<string>255,255,255</string>
</dict>
</plist>
